<form action="{{ formAction }}" method="POST" enctype="multipart/form-data" class="form-horizontal" role="form">
    {% if id is defined %}
        <input name="id" type="hidden" value="{{ id }}">
    {% endif %}
    <div class="form-group">
        <label for="form-user-email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input id="form-user-email" type="email" name="email" class="form-control" placeholder="you@example.com" value="{{ email | default('') }}">
        </div>
    </div>
    {% if user is not defined %}
        <div class="form-group">
            <label for="form-user-password" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input id="form-user-password" type="password" name="password" class="form-control" placeholder="Passwort, mindestens 5 Zeichen">
            </div>
        </div>
        <div class="form-group">
            <label for="form-user-password2" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input id="form-user-password2" type="password" name="password2" class="form-control" placeholder="Passwort (wiederholung)">
            </div>
        </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-first-name" class="col-sm-2 control-label">Vorname</label>
        <div class="col-sm-10">
            <input id="form-user-first-name" type="text" name="first_name" class="form-control" placeholder="Vorname" value="{{ first_name | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-last-name" class="col-sm-2 control-label">Nachname</label>
        <div class="col-sm-10">
            <input id="form-user-last-name" type="text" name="last_name" class="form-control" placeholder="Nachname" value="{{ last_name | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-company" class="col-sm-2 control-label">Firma</label>
        <div class="col-sm-10">
            <input id="form-user-company" type="text" name="company" class="form-control" placeholder="Firma" value="{{ company | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-twitter" class="col-sm-2 control-label">Twitter</label>
        <div class="col-sm-10">
            <input id="form-user-twitter" type="text" name="twitter" class="form-control" placeholder="@twitter" value="{{ twitter | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-url" class="col-sm-2 control-label">joind.in</label>
        <div class="col-sm-10">
            <input id="form-user-url" type="text" name="url" class="form-control" placeholder="https://joind.in/user/" value="{{ url | default('') }}">
        </div>
    </div>
    <div class="form-group">
        <label for="form-user-bio" class="col-sm-2 control-label">Speaker Bio</label>
        <div class="col-sm-10">
            <textarea id="form-user-bio" name="speaker_bio" class="form-control" placeholder="Zustäzliche Informationen über dich" rows="5">{{ speaker_bio | default('') }}</textarea>
            <p class="help-block">Speaker Bio untersützt <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a>.</p>
        </div>
    </div>
    {% if site.online_conference == false %}
    <div class="form-group">
        <label for="form-user-airport" class="col-sm-2 control-label">Departing Airport Code</label>
        <div class="col-sm-10">
            <input id="form-user-airport" type="text" name="airport" class="form-control" placeholder="3 Characters" value="{{ airport | default('') }}">
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-notes" class="col-sm-2 control-label">Zusätzliche Informationen</label>
        <div class="col-sm-10">
            <textarea id="form-user-notes" name="speaker_info" class="form-control" placeholder="Other information you feel the organizers should be aware of" rows="5">{{ speaker_info | default('') }}</textarea>
            <p class="help-block">Notizen können in <a href="http://daringfireball.net/projects/markdown/basics" target="_blank">markdown</a> verfasst werden.</p>
        </div>
    </div>
    {% if site.online_conference  == false %}
    <div class="form-group">
        <label for="form-transportation" class="col-sm-2 control-label">Airfare?</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-transportation">
                    <input id="form-transportation" name="transportation" type="checkbox" value="1" {% if transportation == '1' %}checked{% endif %}> I need help with flight cost.
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="form-hotel" class="col-sm-2 control-label">Hotel?</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-hotel">
                    <input id="form-hotel" name="hotel" type="checkbox" value="1" {% if hotel == '1' %}checked{% endif %}> I need help with hotel cost.
                </label>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <label for="form-user-photo" class="col-sm-2 control-label">Photo</label>
        <div class="col-sm-10">
            <input type="file" id="form-user-photo" name="speaker_photo" class="form-control" placeholder="Photo at least 300px wide by 300px high" accept="image/jpg, image/jpeg, image/png">
            <p class="help-block">Das Foto sollte quadratich sein und mindestens 300x300 Pixel. JPG und PNG sind die akzeptierten Dateiformat.</p>
            {% if preview_photo is defined and preview_photo is not empty %}
                <img src="{{ preview_photo }}" class="profile-photo">
            {% endif %}
        </div>
    </div>
    {% if coc_link is defined and coc_link is not empty %}
    <div class="form-group">
        <label for="form-agree-coc" class="col-sm-2 control-label">Code of Conduct</label>
        <div class="col-sm-10">
            <div class="checkbox">
                <label for="form-agree-coc">
                    <input id="form-agree-coc" name="agree_coc" type="checkbox" value="agreed" > Ich bin mit dem <a href="{{ coc_link }}" target="_blank">Code of conduct</a> einverstanden und werde diesen einhalten.
                </label>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-success">{{ buttonInfo }}</button>
        </div>
    </div>
</form>
